asgiref==3.7.2
Django==3.2.23
sqlparse==0.4.4
typing_extensions==4.8.0
argcomplete==3.3.0
asgiref==3.7.2
beautifulsoup4==4.12.3
blivet==3.10.0
blivet-gui==2.5.0
boto3==1.34.138
botocore==1.34.138
Brlapi==0.8.5
certifi==2023.5.7
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==41.0.7
cupshelpers==1.0
dasbus==1.7
dbus-next==0.2.3
dbus-python==1.3.2
distro==1.9.0
Django==3.2.23
dnf==4.21.0
fedora-third-party==0.10
file-magic==0.4.0
humanize==3.13.1
i3ipc==2.2.1
idna==3.7
initial-setup==0.3.100
iso639==0.1.4
jmespath==1.0.1
langtable==0.0.67
libcomps==0.1.20
libdnf==0.73.2
libvirt-python==10.1.0
louis==3.28.0
lxml==5.1.0
mod-wsgi==5.0.0
nftables==0.1
packaging==23.2
pexpect==4.9.0
pid==2.2.3
ply==3.11
productmd==1.38
psutil==5.9.8
ptyprocess==0.7.0
pwquality==1.4.5
pyasn1==0.5.1
pycairo==1.25.1
pycparser==2.20
pycups==2.0.4
pyenchant==3.2.2
pygdbmi==0.11.0.0
PyGObject==3.48.2
pykickstart==3.52
pyparted==3.13.0
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-meh==0.51
python-xlib==0.33
pytz==2024.1
pyudev==0.24.1
pyxdg==0.27
PyYAML==6.0.1
regex==2024.4.16
requests==2.31.0
requests-file==2.0.0
requests-ftp==0.3.1
rpm==4.19.1.1
s3transfer==0.10.1
selinux @ file:///builddir/build/BUILD/libselinux-3.6/src
sentry-sdk==1.45.0
sepolicy @ file:///builddir/build/BUILD/selinux-3.6/python/sepolicy
setools==4.5.1
setuptools==69.0.3
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sos==4.7.2
soupsieve==2.5
sqlparse==0.4.4
systemd-python==235
tenacity==8.2.3
typing_extensions==4.8.0
urllib3==1.26.19
xkbregistry==0.3
