/* éléments centrés sur les pages */
.centered {
    text-align: center;
}

/* éléments à cacher lors de l'impression */
@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }
}

/* éléments cachés si la suppression n'est pas demandée */
#cacher_valid {
    display: none;
}