<!--
    projet : formulaire-django
    Auteur : Valentin Ryckaert
    Application : principale
    page : main.html
-->

<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- importation des urls des fichiers CSS et Javascript -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contrat de Partenariat Commercial</title>
    <!-- fichiers javascript éventuels -->
    {% block javascriptFilesIfAny %}
        {% load static %}
    {% endblock %}
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- librairie Bootstrap -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <!-- barre de navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'main' %}">MonContrat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'Formulaire:contrat'%}">
                            Générateur de contrat
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'presentation'%}">
                            Qui sommes-nous ?
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'infos'%}">
                            Infos Pratiques
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'BaseDonnee:recherche'%}">
                            Base de donnée
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    {% block content %}
    {% endblock %}
</body>