{% extends '_layout.html' %}

{% block content %}
    <!-- corps de la page -->
    <div class="shadow p-5 mx-5 bg-body rounded centered">
        <h1>Bienvenue sur MonContrat</h1><br>
        <p>Ce site vous permet de créer des contrats de partenariat commercial</p>
        <br>
        <p>Si vous souhaitez créer un contrat, cliquez sur 'générateur de contrat' sur la barre de navigation</p>
        <br>
        <p>Si vous souhaitez chercher un contrat que vous avez créé, cliquez sur 'base de donnée' sur la barre de
            navigation</p>
        <br>
        <p>Ce site n'utilise pas un système de compte mais un système de clef, rendant plus simple la récupération des
            données</p>
        <br>
        <p>Ce site est habité !! Essayez d'appeller Bill, notre 'dialog-bot'. Il vous donnera des informations
            intéressantes.</p>
        <!-- Appel de Bill -->
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#bill">
            Appeller Bill
        </button>
    </div>
    <!-- Boite de dialogue -->
    <div class="modal fade" id="bill" tabindex="-1" aria-labelledby="billLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="billLabel">Bill</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Benvenue sur le site !!<br>Je suis Bill, pour vous servir.<br>Si vous avez besoin d'explication,
                        n'hésitez pas à m'appeller !
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok Bill</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}