<!--
    projet : formulaire-django
    Auteur : Valentin Ryckaert
    Application : principale
    page : présentation.html
-->

<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- importation des urls des fichiers CSS et Javascript -->
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contrat de Partenariat Commercial</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <!-- librairie Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- barre de navigation de gauche à droite  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">MonContrat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'Formulaire:contrat'%}">Générateur
                            de contrat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'presentation'%}">Qui sommes-nous ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'infos'%}">
                            Infos Pratiques
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'BaseDonnee:recherche'%}">
                            Base de donnée
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <!-- corps de la page -->
    <div class="shadow p-5 mx-5 bg-body rounded">
        <h1 class="centered">Présentation</h1>
        <br>
        <p>Votre solution simplifiée pour la création de contrats de partenariat commercial en ligne. Nous comprenons
            que la rédaction et la gestion des contrats peuvent parfois être fastidieuses, c'est pourquoi nous avons
            développé un outil convivial et efficace pour faciliter cette démarche. Découvrez comment MonContrat peut
            vous faire gagner du temps et simplifier vos processus contractuels.</p>
        <h3>Générez des Contrats en Quelques Clics</h3>
        <p>MonContrat a pour objectif de simplifier la vie des entrepreneurs et des professionnels en proposant un moyen
            rapide et intuitif de générer des contrats de partenariat commercial. Notre plateforme vous guide à travers
            un processus étape par étape, vous permettant de personnaliser les détails spécifiques à votre accord tout
            en maintenant la légalité nécessaire.</p>
        <h3>Clef d'Identification : Simple, Rapide, Efficace</h3>
        <p>Nous comprenons que la gestion des comptes peut parfois être une étape laborieuse. C'est pourquoi MonContrat
            utilise un système novateur de clef d'identification pour retrouver facilement vos contrats dans notre base
            de données. Plus besoin de se souvenir de multiples identifiants et mots de passe, notre système sécurisé et
            intelligent vous offre une solution pratique pour accéder à vos contrats en un instant.</p>
        <h3>Créé avec Django pour une Expérience Optimale</h3>
        <p>MonContrat a été développé à l'aide du framework Django, une technologie puissante et flexible qui permet de
            créer des applications web robustes et intuitives. Django offre une architecture solide, une sécurité
            renforcée et une extensibilité qui répondent aux besoins spécifiques de notre plateforme. Profitez d'une
            expérience utilisateur fluide et agréable grâce à notre utilisation de cette technologie de pointe.</p>
        <p><strong>Note sur Django :</strong> Django est un framework web open-source, écrit en Python, qui encourage le
            développement rapide et propre. Il suit le principe du DRY (Don't Repeat Yourself) et favorise une
            conception modulaire. Ces caractéristiques font de Django un choix idéal pour le développement de
            MonContrat, offrant ainsi une plateforme fiable et performante.</p>
        <h3>Projet Initié par un Étudiant en BTS Informatique</h3>
        <p>MonContrat est né dans le cadre d'un projet initié par un étudiant en BTS informatique passionné par la
            simplification des processus juridiques. L'objectif était de créer un outil pratique et efficace pour les
            entrepreneurs et les professionnels cherchant à optimiser la gestion de leurs contrats. Nous sommes fiers du
            résultat et sommes impatients de partager cette solution innovante avec vous.</p>
        <h3>Nous Espérons que MonContrat Vous Plaira</h3>
        <p>Chez MonContrat, notre objectif est de vous offrir une expérience fluide et sans tracas dans la création de
            vos contrats de partenariat commercial. Nous sommes convaincus que notre approche centrée sur l'utilisateur,
            combinée à la puissance de Django, fera de MonContrat votre allié incontournable dans la gestion de vos
            accords professionnels.</p>
        <p>Découvrez dès maintenant la simplicité de MonContrat et libérez-vous des tracas administratifs. Nous sommes
            impatients de vous accompagner dans la simplification de vos processus contractuels. MonContrat - Parce que
            chaque accord devrait être aussi simple que possible.</p>
        <!-- Appel de Bill -->
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#bill">
            Appeller Bill
        </button>
    </div>
    <!-- Boite de dialogue -->
    <div class="modal fade" id="bill" tabindex="-1" aria-labelledby="billLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="billLabel">Bill</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Ce site à été créé avec Django ! Pour ceux qui sont intéressez, regardez <a
                            href="https://www.djangoproject.com/start/overview/">ceci</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok Bill</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>