{% extends '_layout.html' %}

{% block content %}
    <div class="shadow p-5 mx-5 bg-body rounded">
        <div class="centered">
            <h1>recherche</h1>
            <br>
            <p>Entrez votre clef pour accéder à votre formulaire</p>
            <!-- Appel de Bill -->
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#bill">
                Appeller Bill
            </button>
        </div>
        <!-- formulaire pour entrer la clef d'identification -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark">Rechercher</button>
        </form>
        <br>
        <!-- message d'erreur si la clef n'existe pas -->
        {% if not exist %}
        <p>La clé ne correspond à aucun formualaire de la base de données. Veuillez vérifier la clé.</p>
        {% endif %}
    </div>
    <!-- Boite de dialogue de Bill -->
    <div class="modal fade" id="bill" tabindex="-1" aria-labelledby="billLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="billLabel">Bill</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Sur MonContrat, pas besoin de compte ! Entrez simplement votre clef pour retrouver votre contrat
                        (vérifiez ce que vous mettez pour éviter les fautes de copie)
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok Bill</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}